body{
    padding:1em;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
    max-width:1440px;
    margin-right:auto;
    margin-left:auto;
}


.navul{
    list-style: none;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:#0065FC;
    column-gap:2em;    
}
    
header{
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 10px 10px 10px 10px;
    }

.tamer{
    width: 100px;
    height: auto;
}

.box1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr 1fr;
    border-style:groove;
    background-color:#cccaca52;
    border-color:transparent;
    border-radius: 2%;
    padding-left:20px;
    padding-right:20px;
    height: 614px;
    width:871px;
}

.titre{
    grid-row-start:1;
    grid-row-end:1;
    grid-column-start:1;
    grid-column-end: 4;
    margin-left:10px;
}

.boxbox{
    border-style:solid;   
    margin:10px;
    background-color:white;
    border-color:transparent;
    max-height: 200px;
    max-width: 250.33px;
    display:grid;
    grid-template-rows:130px 0.1fr 0.1fr 0.1fr;
    cursor:pointer;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.boxbox2{
    border-style:solid;
    background-color:white;
    border-color:transparent;
    max-height: 146px;
    max-width: 369px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:1fr 1fr 1fr;
    cursor:pointer;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    position:relative;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   }

.hotelimg{
    width:250.33px;
    height:124px;
    object-fit: cover;
    border-radius: 20px;
  
}

.bigbox{
    display:grid;
    grid-template-columns:3fr 2fr;
    border-spacing:40px;
}

.box2{
    display:grid;
    border-style:groove;
    background-color:#cccaca52;
    border-color:transparent;
    border-radius: 2%;
    grid-column-start:2;
    grid-row-start:1;
    margin-left:40px;
    padding-left:20px;
    padding-right:20px;
    height:614px;
    width:429px;
}

.hotelimg2{
    width:123px;
    height:146px;
    object-fit: cover;
    border-radius: 20px;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:1;
    grid-row-end:3;
}

h3{
    margin-block-start: 3px;
    margin-block-end: 0;   
}

.stars{
    display:inline;
    margin-block-start: 3px;
}

.stars2{
    display:inline;
    grid-column-start: 2;
    grid-column-end: auto;
}

.boxbox2 h3{
    display:inline;
    grid-column-start:2;
}

.box1 h3{
    display:inline;
}

.bigbox p{
    display:inline;
    margin-block-start: 3px;
    margin-block-end: 0em;
}

.filtres{
    padding-top:5px;
}

.filtresboutons{  
    border-left: 0;
    display:inline-block;
    margin-top:20px;
    margin-bottom:20px;
    padding-right:20px;
    padding-top:5px;
    padding-left:15px;
    padding-bottom:5px;    
}

.infos{
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    border-radius:50%;
    padding:10px;
    margin-left:20px;
    width: 16px;
    height: 16px;
    color:#0065FC;

}

.btnfiltre{
    border-style:groove;
    display:inline;
    border-radius:50px;
    padding-top:9px;
    padding-bottom:9px;
    margin-right:20px;
    border-color:grey;
    border-width: 2px;
    cursor:pointer;
    border-left:2px;
    margin-left:2px;
}

.btnfiltre:hover{
    border-color:#0065FC;
    background-color:lightblue;
    transition-duration: 1s;
}

.btn{
    margin-left:0px;
}

.filtre_ecriture{
    margin-right:20px;

}

button{
    background-color: #0065FC;
    width:120px;
    height:40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style:none;
    margin-left:0;
    border-left-width:20px;
    cursor:pointer;    
}


.searchInput{
    width:200px;
    height:40px;
    margin-right:0;
    border-style: groove;
    border-color:lightgrey;
    border-right-color:#0065FC;
    margin:0;
}

.SearchTextBtn{
    color:aliceblue;
    font-weight: 900;
}

.searchbar i{
    border-style: none;
    padding:12px;
    background-color: lightgrey;
}

.box3{
    display:grid;
    padding-bottom:30px;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.boxbox3{
    display:grid;
    grid-template-rows:380px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin:30px;
}

.ActivityImg{
    width:297.5px;
    height:380px;
    object-fit: cover;
    border-style: hidden;
    border-color:rgb(255, 255, 255);
    border-radius:20px 20px 0px 0px;
}

.footer{
    display:grid;
    background-color:lightgrey;
    grid-template-columns: 1fr 1fr 1fr;
}

.A_propos_footer{
    grid-column-start:1;
    list-style: none;
}

.Hebergements_footer{
    grid-column-start:2;
    list-style: none;
}

.Assistance_footer{
    grid-column-start:3;
    list-style: none;
}

.star{
    color:#0065FC;
}

.searchlogo{
    color:black;
}

.box2_hotel_prix{
    grid-column-start: 2;
    grid-row-start: 1;
}

.stars2{
    position:absolute;
    bottom:0;
}

.plus{
    cursor:pointer;
}


@media (max-width: 1440px){

    body{    
        margin-right:auto;
        margin-left:auto;
        width:1024px
    }

    .bigbox{
        display:flex;
        flex-direction: column;
    }

    .box1{
    width:924px;
    }
    .box2{
    margin-top: 30px;
    display:grid;
    grid-template-rows:70px 4fr;
    width:924px;
    height:252px;
    margin-left:0px;
    }

    .box3{
    margin-right:0px;
    margin-left:0px;
    border-spacing:30px;
    }
    .populaires_3box{
    display:grid;
    grid-template-columns:308px 308px 308px;
    }
    .boxbox2{
    width:274px;
    height:146px;
    }
    .boxbox{
    width:268px;
    height:207,25px;
    }

    .ActivityImg{
    width:200px;
    height:270px;
    }

    .boxbox3{
    height:340px;
    grid-template-rows:270px;
    margin-right:0px;
    width:200px;
    }

}

@media (max-width:1023px){
    
    body{
    width:375px
    }

    .bigbox{
        display:flex;
        flex-direction: column-reverse;
        width:auto;
        height:auto;
    }

    .box2{
        display:flex;
        flex-direction: column;
        
        width:auto;
        height:auto;
    }
    .box1{
        display:flex;
        flex-direction : column;
        width:auto;
        height:auto;
    }

}